<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>892953408643-j9jvitgv2f1ovpm8er3ppf1lkf4nl4i6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.892953408643-j9jvitgv2f1ovpm8er3ppf1lkf4nl4i6</string>
	<key>API_KEY</key>
	<string>AIzaSyBaB_Y8s92QFwaq2hsgEZBGcig7vd8LJDI</string>
	<key>GCM_SENDER_ID</key>
	<string>892953408643</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.walysson.cityConnect.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>city-connect-21ddf</string>
	<key>STORAGE_BUCKET</key>
	<string>city-connect-21ddf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:892953408643:ios:2b13745c237e677414d7b6</string>
</dict>
</plist>